{% extends "dashboard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<div class="home-section">
    <div class="home-hero">
        <h1 class="home-hero-title fade-in">The Last Movers<br>You'll Ever Need.</h1>
        <p class="home-hero-text fade-in">Reliable, stress-free moving from start to finish.</p>
    </div>
    {% include "quoteBox.html" %}
</div>
<div class="howItWorks-section">
    <h2 class="section-title fade-in">How It Works</h2>
    <div class="steps">
        <div class="step fade-in">
            <h2>01</h2>
            <h3>Get a Free Quote</h3>
            <p>Send us your moving details.</p>
        </div>
        <div class="step fade-in">
            <h2>02</h2>
            <h3>Confirm Your Move</h3>
            <p>We’ll email you back to schedule a date and finalize the details.</p>
        </div>
        <div class="step fade-in">
            <h2>03</h2>
            <h3>Move With Confidence</h3>
            <p>Our crew shows up on time and gets the job done right.</p>
        </div>
    </div>
</div>
{% endblock %}